sos-hme/docs/servicioWebTriaje6.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ServicioWebTriajeService" targetNamespace="http://webService/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webService/" xmlns:ns0="http://triaje/" xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://triaje/"/>
  <xs:complexType name="pojoCaso">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCasoSOS" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="archivos" nillable="true" type="tns:pojoArchivo"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="especialidad" nillable="true" type="tns:pojoEspecialidad"/>
      <xs:element minOccurs="0" name="paciente" type="tns:pojoPaciente"/>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pojoArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
      <xs:element minOccurs="0" name="adjunto" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pojoEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pojoPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element minOccurs="0" name="cedula" type="xs:string"/>
      <xs:element minOccurs="0" name="sexo" type="xs:string"/>
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStatusCaso" type="tns:getStatusCaso"/>
  <xs:complexType name="getStatusCaso">
    <xs:sequence>
      <xs:element minOccurs="0" name="uuid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStatusCasoResponse" type="tns:getStatusCasoResponse"/>
  <xs:complexType name="getStatusCasoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCasoResuelto" type="tns:getCasoResuelto"/>
  <xs:complexType name="getCasoResuelto">
    <xs:sequence>
      <xs:element minOccurs="0" name="caso" type="tns:pojoCaso"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCasoResueltoResponse" type="tns:getCasoResueltoResponse"/>
  <xs:complexType name="getCasoResueltoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns0:pojoCasoResuelto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enviarCasoTriaje" type="tns:enviarCasoTriaje"/>
  <xs:complexType name="enviarCasoTriaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="caso" type="tns:pojoCaso"/>
      <xs:element minOccurs="0" name="uuid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enviarCasoTriajeResponse" type="tns:enviarCasoTriajeResponse"/>
  <xs:complexType name="enviarCasoTriajeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema targetNamespace="http://triaje/" version="1.0" xmlns:tns="http://triaje/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="enviarCasoSosHme" type="tns:enviarCasoSosHme"/>
<xs:element name="enviarCasoSosHmeResponse" type="tns:enviarCasoSosHmeResponse"/>
<xs:element name="servicioPruebaSosHME" type="tns:servicioPruebaSosHME"/>
<xs:element name="servicioPruebaSosHMEResponse" type="tns:servicioPruebaSosHMEResponse"/>
<xs:complexType name="pojoCasoResuelto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCasoSOS" type="xs:string"/>
      <xs:element minOccurs="0" name="responsable" type="tns:pojoMedico"/>
      <xs:element minOccurs="0" name="opinion" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaSolucion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="pojoMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element name="colegioDeMedico" type="xs:int"/>
      <xs:element name="ministerioDeSalud" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="enviarCasoSosHme">
    <xs:sequence>
      <xs:element minOccurs="0" name="caso" type="tns:pojoCasoResuelto"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="servicioPruebaSosHMEResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="servicioPruebaSosHME">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="enviarCasoSosHmeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStatusCasoResponse">
    <wsdl:part element="tns:getStatusCasoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarCasoTriajeResponse">
    <wsdl:part element="tns:enviarCasoTriajeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarCasoTriaje">
    <wsdl:part element="tns:enviarCasoTriaje" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusCaso">
    <wsdl:part element="tns:getStatusCaso" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCasoResuelto">
    <wsdl:part element="tns:getCasoResuelto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCasoResueltoResponse">
    <wsdl:part element="tns:getCasoResueltoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioWebTriajeServicePortType">
    <wsdl:operation name="getStatusCaso">
      <wsdl:input message="tns:getStatusCaso" name="getStatusCaso">
    </wsdl:input>
      <wsdl:output message="tns:getStatusCasoResponse" name="getStatusCasoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCasoResuelto">
      <wsdl:input message="tns:getCasoResuelto" name="getCasoResuelto">
    </wsdl:input>
      <wsdl:output message="tns:getCasoResueltoResponse" name="getCasoResueltoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCasoTriaje">
      <wsdl:input message="tns:enviarCasoTriaje" name="enviarCasoTriaje">
    </wsdl:input>
      <wsdl:output message="tns:enviarCasoTriajeResponse" name="enviarCasoTriajeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebTriajeServiceSoapBinding" type="tns:ServicioWebTriajeServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStatusCaso">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatusCaso">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusCasoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCasoTriaje">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enviarCasoTriaje">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviarCasoTriajeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCasoResuelto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCasoResuelto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCasoResueltoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebTriajeService">
    <wsdl:port binding="tns:ServicioWebTriajeServiceSoapBinding" name="ServicioWebTriajeServicePort">
      <soap:address location="http://localhost:8080/SOS-TRIAJE/services/servicioWebTriaje"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>