sos-hme/docs/triaje.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="TriajeService" targetNamespace="http://webService/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webService/" xmlns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pojoPrueba">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element name="edad" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="serviceHolaMundo" type="serviceHolaMundo"/>
  <xs:complexType name="serviceHolaMundo">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="serviceHolaMundoResponse" type="serviceHolaMundoResponse"/>
  <xs:complexType name="serviceHolaMundoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="pojoPrueba"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="serviceHolaMundo">
    <wsdl:part element="tns:serviceHolaMundo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="serviceHolaMundoResponse">
    <wsdl:part element="tns:serviceHolaMundoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TriajeServicePortType">
    <wsdl:operation name="serviceHolaMundo">
      <wsdl:input message="tns:serviceHolaMundo" name="serviceHolaMundo">
    </wsdl:input>
      <wsdl:output message="tns:serviceHolaMundoResponse" name="serviceHolaMundoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TriajeServiceSoapBinding" type="tns:TriajeServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="serviceHolaMundo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="serviceHolaMundo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="serviceHolaMundoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TriajeService">
    <wsdl:port binding="tns:TriajeServiceSoapBinding" name="TriajeServicePort">
      <soap:address location="http://localhost:8080/SOS-TRIAJE/services/triaje"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>